body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  background: #000;
}

.heart-container {
  position: relative;
  width: 250px;
  height: 300px;
  margin-top: 200px;
  
}
.heart-left{
    width: 460px;
    margin-right: 100px;   
}
.heart-right {
  position: absolute;
  top: 0;
  width: 390px;
  height: auto;
  opacity: 1;
  transition: transform 0.3s ease;
  margin-left: 80px;
  margin-top: 10px;
}

/* Animation for left half */
.break-left {
  animation: breakLeft 4s forwards;
}

/* Animation for right half */
.break-right {
  animation: breakRight 4s forwards;
}

@keyframes breakLeft {
  0% {
    transform: rotate(0) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: rotate(-20deg) translateX(-200px) translateY(-50px);
    opacity: 0;
  }
}

@keyframes breakRight {
  0% {
    transform: rotate(0) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: rotate(30deg) translateX(200px) translateY(-50px);
    opacity: 0;
  }
}


@media (max-width: 600px) {
  body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #000;
  }

  .heart-container {
    transform: scale(0.5) translateX(-25%);
    transform-origin: center;
  }

  .heart-left {
    margin-right: 0;
  }

  .heart-right {
    margin-left: 0;
  }
}
